body
        {
            font-family: helvetica;
            background-color: antiquewhite;
        }
        .question
        {
            height: 300px;
            width: 300px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            border: solid black 2px;
            padding: 7px;
            border-radius: 7px;
            background-color: azure;
        }
        #result{
            padding: 7px;
        }
        input
        {
            padding: 4px;
        }
div{
    position:relative;
}